* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #111827;
  color: white;
  font-family: Arial, sans-serif;
}

.game {
  max-width: 760px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 18px;
}

h1 {
  color: #ffd84d;
  margin-bottom: 6px;
}

header p {
  color: #cbd5e1;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}

.stats div {
  background: #1f2937;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
}

.card {
  background: #1f2937;
  border-radius: 16px;
  padding: 18px;
  margin-bottom: 14px;
}

.story {
  line-height: 1.6;
  font-size: 18px;
}

.puzzle {
  border: 2px solid #ffd84d;
}

.code {
  background: #0b1020;
  padding: 14px;
  border-radius: 10px;
  margin: 14px 0;
  font-family: monospace;
  text-align: center;
}

.banana {
  margin-top: 12px;
  padding: 10px;
  border-left: 5px solid #ffd84d;
  background: #312e81;
  border-radius: 8px;
}

input {
  width: 100%;
  padding: 13px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  margin-top: 12px;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 11px 16px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

#submitBtn {
  background: #ffd84d;
}

.hint {
  background: #93c5fd;
}

.restart {
  background: #64748b;
  color: white;
}

#message {
  min-height: 28px;
  margin-top: 12px;
  font-weight: bold;
}

.inventory {
  background: #172033;
  border-radius: 14px;
  padding: 14px;
}

.inventory h3 {
  margin-top: 0;
}